<div class="card-header seachbar fromday">
	<h5></h5>
	<div class="reveue-date">
	  <div class="form-group  d-flex mr-2">
		<label>From</label>
		<input type="date" id="" name="" class="form-control dateinput ">
	  </div>
	  <div class="form-group  d-flex">
		<label>To</label>
		<input type="date" id="" name="" class="form-control dateinput ">
	  </div>
	</div>
  </div>
<div class="table-responsive" id="users-list-page">
	<!-- [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
		  [limit]="page.size" (page)="setPage($event)" -->
	<ngx-datatable class="bootstrap" [scrollbarH]="true" [rows]="rows" [columnMode]="ColumnMode.force" [limit]="10"
	  [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [externalPaging]="true" [count]="page.totalElements"
	  [offset]="page.pageNumber" [limit]="page.size" (page)="setPage($event)">
	  <ngx-datatable-column [width]="40" name="#" prop="#">
		<ng-template let-rowIndex="rowIndex" data-index="#i" ngx-datatable-cell-template>
		  {{(((page.pageNumber * page.size)) + rowIndex)+1}}
		</ng-template>
	  </ngx-datatable-column>
	  <ngx-datatable-column [width]="40" name="ORDER ID" prop="ORDER ID">
		<ng-template let-row="row" ngx-datatable-cell-template>
		  {{row.order_id}}
		</ng-template>
	  </ngx-datatable-column>
	  <ngx-datatable-column [width]="40" name="NAME" prop="NAME">
		<ng-template let-row="row" ngx-datatable-cell-template>
		  {{row.name}}
		</ng-template>
	  </ngx-datatable-column>
	  <ngx-datatable-column [width]="40" name="ASSET" prop="ASSET">
		<ng-template let-row="row" ngx-datatable-cell-template>
		  {{row.asset}}
		</ng-template>
	  </ngx-datatable-column>
	  <ngx-datatable-column [width]="80" name="PAYMENT PROOF" prop="ORDER ID">
		<ng-template let-row="row" ngx-datatable-cell-template>
			<a href="javascript:void(0)"   class="btn btn-primary"><i
                class="mdi mdi-eye-settings" title="View"></i></a>
		</ng-template>
	  </ngx-datatable-column>
	  <ngx-datatable-column [width]="80" name="AMOUNT ($)" prop="ASSET">
		<ng-template let-row="row" ngx-datatable-cell-template>
		  {{row.amount}}
		</ng-template>
	  </ngx-datatable-column>
	  <ngx-datatable-column [width]="100" name="AMOUNT (NAIRA)" prop="AMOUNT (NAIRA)">
		<ng-template let-row="row" ngx-datatable-cell-template>
		</ng-template>
	  </ngx-datatable-column>
	  <ngx-datatable-column [width]="90" name="DATE & TIME" prop="DATE & TIME">
		<ng-template let-row="row" ngx-datatable-cell-template>
		  {{row.created_at | date:'medium'}}
		</ng-template>
	  </ngx-datatable-column>
	  <ngx-datatable-column [width]="40" name="STATUS" prop="DATE & TIME">
		<ng-template let-row="row" ngx-datatable-cell-template>
		  Active
		</ng-template>
	  </ngx-datatable-column>
	  <ngx-datatable-column [width]="200" name="ACTION" prop="DATE & TIME">
		<ng-template let-row="row" ngx-datatable-cell-template>
				  <button  class="btn btn-primary">Approve</button>
				  &nbsp;
				  <button class="btn btn-danger" >Reject</button>
		</ng-template>
	  </ngx-datatable-column>
	  </ngx-datatable>
  </div>
  