<div class="card-header seachbar fromday">
	<h5></h5>
	<div class="reveue-date">
		<div class="form-group mb-0 d-flex mr-2">
			<mat-form-field appearance="outline">
				<mat-label>Status</mat-label>
				<mat-select [(ngModel)]="filterStatus" (selectionChange)="changeDateRange()">
					<mat-option value="All">All</mat-option>
					<mat-option value="Pending">Pending</mat-option>
					<mat-option value="Accepted">Accepted</mat-option>
					<mat-option value="Rejected">Rejected</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		<div class="form-group mb-0 d-flex mr-2">
			<mat-form-field appearance="outline">
				<mat-label>From</mat-label>
				<input matInput [max]="end_date" [(ngModel)]="start_date" [matDatepicker]="picker">
				<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
				<mat-datepicker #picker></mat-datepicker>
			</mat-form-field>
		</div>
		<div class="form-group mb-0 d-flex">
			<mat-form-field appearance="outline">
				<mat-label>To</mat-label>
				<input matInput [min]="start_date" [(ngModel)]="end_date" (dateChange)="changeDateRange()"
					[matDatepicker]="picker1">
				<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
				<mat-datepicker #picker1></mat-datepicker>
			</mat-form-field>
		</div>
		<div>
			<button (click)="clearFilters()" class="btn btn-blue-translucent">
				Clear
			</button>
			<button (click)="exportCsv()" class="btn btn-blue-translucent">
				Export CSV
			</button>
		</div>
	</div>
</div>
<div class="table-responsive" id="users-list-page">
	<!-- [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
		  [limit]="page.size" (page)="setPage($event)" -->
	<ngx-datatable class="bootstrap" [scrollbarH]="true" [rows]="rows" [columnMode]="ColumnMode.force" [limit]="10"
		[headerHeight]="50" [footerHeight]="50" rowHeight="auto" [externalPaging]="true" [count]="page.totalElements"
		[offset]="page.pageNumber" [limit]="page.size" (page)="setPage($event)">
		<ngx-datatable-column [width]="40" name="#" prop="#">
			<ng-template let-rowIndex="rowIndex" data-index="#i" ngx-datatable-cell-template>
				{{(((page.pageNumber * page.size)) + rowIndex)+1}}
			</ng-template>
		</ngx-datatable-column>
		<ngx-datatable-column [width]="100" name="ORDER ID" prop="ORDER ID">
			<ng-template let-row="row" ngx-datatable-cell-template>
				{{row?.order_id}}
			</ng-template>
		</ngx-datatable-column>
		<ngx-datatable-column [width]="180" name="NAME" prop="NAME">
			<ng-template let-row="row" ngx-datatable-cell-template>
				{{row?.name}}
			</ng-template>
		</ngx-datatable-column>
		<ngx-datatable-column [width]="100" name="ASSET" prop="ASSET">
			<ng-template let-row="row" ngx-datatable-cell-template>
				{{row?.asset}}
			</ng-template>
		</ngx-datatable-column>


		<!-- Dynamic Columns -->

		<!-- Bank Columns -->
		<ng-container *ngIf="checkBankColumns()">
			<ngx-datatable-column [width]="180" name="BANK" prop="BANK NAME">
				<ng-template let-row="row" ngx-datatable-cell-template>
					<div *ngIf="row?.bank?.bank_name">
						<img src="{{ baseUrl + row?.bank?.bank_name?.bank_image?.media_file }}" alt=""
							style="width: 20px;height: 20px;">
						{{ row?.bank?.bank_name?.name }}
					</div>
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column [width]="180" name="ACCOUNT NUMBER" prop="ACCOUNT NUMBER">
				<ng-template let-row="row" ngx-datatable-cell-template>
					{{ row?.bank?.account_number }}
				</ng-template>
			</ngx-datatable-column>
			<!-- <ngx-datatable-column [width]="180" name="AC. HOLDER NAME" prop="HOLDER NAME">
					<ng-template let-row="row" ngx-datatable-cell-template>
						{{ row?.bank?.account_holder_name }}
					</ng-template>
				</ngx-datatable-column> -->
		</ng-container>
		<!-- End Bank Columns -->

		<!-- Proof Columns check here  -->
		<ngx-datatable-column *ngIf="checkProof()" [width]="180" name="PAYMENT PROOF" prop="ORDER ID">
			<ng-template let-row="row" ngx-datatable-cell-template>
				<a href="javascript:void(0)" *ngIf="row?.proof?.media_file" (click)="userModal(row?.proof?.media_file)"
					class="btn btn-primary"><i class="mdi mdi-eye-settings" title="View"></i></a>
			</ng-template>
		</ngx-datatable-column>
		<!-- End Proof Columns check here  -->


		<ngx-datatable-column *ngIf="checkBalanceColumn()" [width]="180" name="Balance" prop="Balance">
			<ng-template let-row="row" ngx-datatable-cell-template>
				{{ 0 | number : '0.2' }}
			</ng-template>
		</ngx-datatable-column>


		<!-- show usd value here -->
		<ngx-datatable-column *ngIf="checkUSD()" [width]="100" name="AMOUNT ($)" prop="ASSET">
			<ng-template let-row="row" ngx-datatable-cell-template>
				{{ ((row?.amount)?row?.amount:0) | number : '0.2' }}
			</ng-template>
		</ngx-datatable-column>
		<!-- end usd value here	 -->

		<!-- show bit value here -->
		<ngx-datatable-column *ngIf="checkBit()" name="Amount {{ getBitGoName() }}" prop="ASSET">
			<ng-template let-row="row" ngx-datatable-cell-template>
				{{ ((row?.bitamount)?row?.bitamount:0) | number : '0.2-10' }}
			</ng-template>
		</ngx-datatable-column>
		<!-- end bit value here	 -->

		<!-- show Nira column -->
		<ngx-datatable-column *ngIf="checkNira()" [width]="180" name="AMOUNT (NGN)" prop="AMOUNT (NGN)">
			<ng-template let-row="row" ngx-datatable-cell-template>
				{{ ((row?.ngnamount)?row?.ngnamount:0) | number : '0.2' }}
			</ng-template>
		</ngx-datatable-column>
		<!-- End Dynamic Columns -->

		<!-- Show Wallet address column -->
		<ngx-datatable-column *ngIf="checkWallet()" [width]="180" name="Sending Wallet" prop="Wallet">
			<ng-template let-row="row" ngx-datatable-cell-template>
				{{row?.to_wallet }}
			</ng-template>
		</ngx-datatable-column>

		<ngx-datatable-column *ngIf="checkReceivingWallet()" [width]="180" name="Receiving Wallet" prop="Wallet">
			<ng-template let-row="row" ngx-datatable-cell-template>
				{{row?.from_wallet }}
			</ng-template>
		</ngx-datatable-column>

		<ngx-datatable-column *ngIf="checkReceivingWallet()" [width]="100" name="Fee" prop="Fee">
			<ng-template let-row="row" ngx-datatable-cell-template>
				{{ 0 | number : '0.2' }}
			</ng-template>
		</ngx-datatable-column>


		<ngx-datatable-column *ngIf="checkReceivingWallet()" [width]="180" name="Confirmation" prop="Confirmation">
			<ng-template let-row="row" ngx-datatable-cell-template>
				<span class="badge badge-success">5 Confirmations</span>
			</ng-template>
		</ngx-datatable-column>

		<ngx-datatable-column *ngIf="checkReceivingWallet()" [width]="180" name="Transaction ID" prop="Transaction ID">
			<ng-template let-row="row" ngx-datatable-cell-template>
				BTC56456456456GJH
			</ng-template>
		</ngx-datatable-column>

		<!-- End Wallet address column -->

		<ngx-datatable-column [width]="180" name="DATE & TIME" prop="DATE & TIME">
			<ng-template let-row="row" ngx-datatable-cell-template>
				{{row?.created_at | date:'medium'}}
			</ng-template>
		</ngx-datatable-column>

		<ngx-datatable-column [width]="220" name="ACTION" prop="ACTION">
			<ng-template let-row="row" ngx-datatable-cell-template>
				<ng-container *ngIf="row?.status == 'Pending'">
					<button class="btn btn-primary" (click)="accept(row?.id)">Accept</button>
					&nbsp;
					<button class="btn btn-danger" (click)="reject(row?.id)">Reject</button>
				</ng-container>
			</ng-template>
		</ngx-datatable-column>

		<ngx-datatable-column [width]="100" name="Status" prop="Status">
			<ng-template let-row="row" ngx-datatable-cell-template>
				<span class="badge" [class.badge-success]="row?.status == 'Accepted'"
					[class.badge-danger]="row?.status == 'Rejected'" [class.badge-warning]="row?.status == 'Pending'">
					{{ row?.status }}
				</span>
			</ng-template>
		</ngx-datatable-column>
	</ngx-datatable>
</div>