<section class="admin-content">
    <div class="container-fluid bg-dark m-b-30">
        <div class="row">
            <div class="col-12 text-white p-t-40 p-b-90">
                <div class="ex-main">
                    <h4 class="">Chat</h4>
                    <a routerLink="/pages/manage-customer-support" class="btn btn-white-translucent">Back</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid pull-up">
        <div class="chatns">
            <div class="chatns-right">
                <div class="chat-header">
                    <div class="ch-left">
                        <figure>
                            <img src="https://images.unsplash.com/photo-1503443207922-dff7d543fd0e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bWVufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80">
                        </figure>
                    </div>
                    <div class="ch-right">
                        <h5>Name</h5>
                        <p>Online</p>
                    </div>
                </div>
                <div class="chat-body">
                    <ul>
                        <li class="fullchat">
                            <p class="btn btn-primary m-0">Today</p>
                        </li>
                        <li class="leftchat">
                            <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown .</p>
                            <h5>09:00AM</h5>
                        </li>
                        <li class="rightchat">
                            <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown .</p>
                            <h5>09:00AM</h5>
                        </li>
                    </ul>
                </div>
                <div class="chat-footer">
                    <div class="media-chat">
                        <i class="mdi mdi-camera"></i>
                    </div>
                    <div class="media-input">
                        <input type="text" placeholder="Enter">
                    </div>
                    <div class="media-sendbtn">
                        <i class="mdi mdi-send"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>