<!--site header ends -->
<section class="admin-content">
  <div class="bg-dark">
    <div class="container-fluid  m-b-30">
      <div class="row">
        <div class="col-12 text-white p-t-40 p-b-90">
          <div class="ex-main">
            <h4 class=""> <span class="btn btn-white-translucent">
                <i class="mdi mdi-monitor"></i></span> Manage Update
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid pull-up">
    <div class="row">
      <div class="col-md-12">
        <div class="card m-b-30">

          <div class="card-body">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab-z" data-toggle="tab" href="#home" role="tab"
                  aria-controls="home" aria-selected="true" (click)="TabRef('terms')">Terms & Condition</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab-z" data-toggle="tab" href="#profile" role="tab"
                  aria-controls="profile" aria-selected="false" (click)="TabRef('privacy')">Privacy Policy</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="faq-tab-z" data-toggle="tab" href="#faq" role="tab" aria-controls="faq"
                  aria-selected="false" (click)="TabRef('faq')">FAQ's</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="csupport-tab-z" data-toggle="tab" href="#csupport" role="tab"
                  aria-controls="csupport" aria-selected="false" (click)="TabRef('contact')">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="aboutus-tab-z" data-toggle="tab" href="#aboutus" role="tab"
                  aria-controls="aboutus" aria-selected="false" (click)="TabRef('aboutUs')">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="companyaddress-tab-z" data-toggle="tab" href="#companyaddress" role="tab"
                  aria-controls="companyaddress" aria-selected="false" (click)="TabRef('address')">Company Address</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="adminbankdetail-tab-z" data-toggle="tab" href="#adminbankdetail" role="tab"
                  aria-controls="adminbankdetail" aria-selected="false" (click)="TabRef('details')">Admin Bank
                  Detail</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="paymentprocedure-tab-z" data-toggle="tab" href="#paymentprocedure" role="tab"
                  aria-controls="paymentprocedure" aria-selected="false" (click)="TabRef('precedure')">Payment
                  Instructions</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="features-tab-z" data-toggle="tab" href="#features" role="tab"
                  aria-controls="features" aria-selected="false" (click)="TabRef('features')">
                  Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="rateInstruction-tab-z" data-toggle="tab" href="#rateInstruction" role="tab"
                  aria-controls="rateInstruction" aria-selected="false" (click)="TabRef('rateInstruction')">
                  Rate Instructions</a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent1">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div id="summernote"></div>
                <form [formGroup]="termsCondition">
                  <div class="form-row mt-3">
                    <div class="form-group col-md-12">
                      <ckeditor #editor formControlName="terms" type="divarea">
                      </ckeditor>
                      <mat-error *ngIf="termsCondition.controls['terms'].hasError('required')">
                        Please enter terms and condition
                      </mat-error>
                    </div>
                  </div>
                </form>
                <button class="btn btn-primary" (click)="Terms()">{{isLoading?'Processing':'Save'}}</button>
                <!-- <h4 class="pt-4 pl-4">Not Data Found</h4> -->
              </div>
              <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div id="summernote"></div>
                <form [formGroup]="privacyPolicy">
                  <div class="form-row mt-3">
                    <div class="form-group col-md-12">
                      <ckeditor #editor formControlName="privacy" type="divarea">
                      </ckeditor>
                      <mat-error *ngIf="privacyPolicy.controls['privacy'].hasError('required')">
                        Please enter privacy policy
                      </mat-error>
                    </div>
                  </div>
                </form>

                <button class="btn btn-primary" (click)=" Privacy()">{{isLoading?'Processing':'Save'}}</button>

                <!-- <h4 class="pt-4 pl-4">Not Data Found</h4> -->
              </div>
              <div class="tab-pane fade faq_section show" id="faq" role="tabpanel" aria-labelledby="faq-tab">
                <app-faq-template></app-faq-template>
              </div>

              <div class="tab-pane fade show" id="csupport" role="tabpanel" aria-labelledby="csupport-tab">
                <form [formGroup]="contactUs">
                  <div class="form-row mt-3">
                    <div class="form-group col-md-6">
                      <mat-form-field class="row col-12" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input type="text" name="email" matInput placeholder="Email" formControlName="email">
                        <mat-error
                          *ngIf="!contactUs.get('email').hasError('validEmail') && contactUs.get('email').hasError('required')">
                          Please enter email.
                        </mat-error>
                        <mat-error
                          *ngIf="contactUs.get('email').hasError('email') || contactUs.get('email').hasError('validEmail')">
                          Please enter valid email.
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="form-group number_add_coinwell col-md-6">
                      <mat-form-field class="row col-12" appearance="outline">
                        <mat-label>Phone number</mat-label>
                        <ngx-mat-intl-tel-input [onlyCountries]="['ng']" [enablePlaceholder]="true"
                          [enableSearch]="true" name="full_phone" formControlName="full_phone"
                          (countryChanged)="countryChanged($event)" inputPlaceholder="Phone number"
                          formControlName="phone">
                        </ngx-mat-intl-tel-input>
                        <mat-error *ngIf="contactUs.get('phone').hasError('required')">Please Enter phone number.
                        </mat-error>
                        <mat-error
                          *ngIf="contactUs.get('phone')?.hasError('maxlength') || contactUs.get('phone')?.hasError('minlength')">
                          Phone number has to be between 7 and 15 characters long.
                        </mat-error>

                      </mat-form-field>
                    </div>
                  </div>
                </form>
                <button class="btn btn-primary" (click)="SubmitContactUs()">{{isLoading?'Processing':'Save'}}</button>
              </div>
              <div class="tab-pane fade show" id="aboutus" role="tabpanel" aria-labelledby="aboutus-tab">
                <div id="summernote"></div>
                <form [formGroup]="About">
                  <div class="form-row mt-3">
                    <div class="form-group col-md-12">
                      <ckeditor #editor formControlName="about" type="divarea">
                      </ckeditor>
                      <mat-error *ngIf="About.controls['about'].hasError('required')">
                        Please enter about us
                      </mat-error>
                    </div>
                  </div>
                </form>
                <button class="btn btn-primary" (click)="AboutUs()">{{isLoading?'Processing':'Save'}}</button>

                <!-- <h4 class="pt-4 pl-4">Not Data Found</h4> -->
              </div>
              <div class="tab-pane fade show" id="companyaddress" role="tabpanel" aria-labelledby="companyaddress-tab">
                <form [formGroup]="Address">
                  <div class="form-row mt-3">
                    <div class="form-group col-md-12">
                      <mat-form-field appearance="outline" class="col-md-12">
                        <mat-label>Location</mat-label>
                        <input type="text" ngx-google-places-autocomplete (onAddressChange)="AddressChange($event)"
                          matInput id="" placeholder="" formControlName="address">
                        <mat-error *ngIf="Address.controls['address'].hasError('required')">
                          Please enter company address
                        </mat-error>

                      </mat-form-field>
                    </div>
                  </div>
                </form>
                <button class="btn btn-primary" (click)="CompanyAddress()">{{isLoading?'Processing':'Save'}}</button>
              </div>
              <div class="tab-pane fade show faq_section" id="adminbankdetail" role="tabpanel"
                aria-labelledby="adminbankdetail-tab">
                <form [formGroup]="bankDetailForm">
                  <div class="form-row mt-3">
                    <div class="form-group col-md-6">
                      <mat-form-field class="row col-12 bank-dropdown" appearance="outline">
                        <mtx-select typeToSearchText="Search bank name." [typeahead]="bankListEvent"
                          [loading]="bankListLoading" loadingText="Fetching banks..." [(ngModel)]="BankId"
                          notFoundText="No bank found. Try another name" [virtualScroll]="true"
                          bindLabel="Select bank name" [items]="bankList" bindLabel="name" bindValue="id"
                          formControlName="bank_name" placeholder="Select bank name">
                          <ng-template ng-label-tmp let-item="item">
                            <div class="bank-dropdown-label">
                              <div class="bank-dropdown-option">
                                <div class="pr-2">
                                  <img class="img" src="{{ baseUrl+item?.bank_image?.media_file }}" alt="">
                                </div>
                                <div>
                                  <p class="bank-heading p-0">{{ item.name }} </p>
                                  <!-- <p class="branch">{{ item.branch }}</p>
                    <p class="ifsc"><span>IFSC: </span><span>{{ item.ifsc_code }}</span></p> -->
                                </div>
                              </div>
                            </div>
                          </ng-template>
                          <ng-template ng-option-tmp let-item="item">
                            <div class="bank-dropdown-option">
                              <div class="pr-2">
                                <img class="img" src="{{ baseUrl+item?.bank_image?.media_file }}" alt="">
                              </div>
                              <div>
                                <p class="bank-heading p-0">{{ item.name }} </p>
                                <!-- <p class="branch">{{ item.branch }}</p>
									<p class="ifsc"><span>IFSC: </span><span>{{ item.ifsc_code }}</span></p> -->
                              </div>
                            </div>
                            <!-- </div> -->
                          </ng-template>
                        </mtx-select>
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-6">
                      <mat-form-field class="row col-12" appearance="outline">
                        <mat-label>Account Holder Name</mat-label>
                        <input type="text" matInput placeholder="Account holder name" formControlName="accountHolder">
                        <mat-error *ngIf="bankDetailForm.get('accountHolder').hasError('required')">
                          Please enter account holder name. </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-6">
                      <mat-form-field class="row col-12" appearance="outline">
                        <mat-label>Account Number</mat-label>
                        <input type="text" matInput placeholder="Account number" formControlName="accNumber">
                        <mat-error *ngIf="bankDetailForm.get('accNumber').hasError('required')">
                          Please enter account number. </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </form>
                <button class="btn btn-primary" (click)="AdminBankDetails()">{{isLoading?'Processing':'Save'}}</button>
              </div>
              <div class="tab-pane fade show" id="paymentprocedure" role="tabpanel"
                aria-labelledby="paymentprocedure-tab">
                <form [formGroup]="procedure">
                  <div class="form-row mt-3">
                    <div class="form-group col-md-12">
                        <ckeditor #editor formControlName="paymentprocedure" type="divarea">
                        </ckeditor>
                        <mat-error *ngIf="procedure.controls['paymentprocedure'].hasError('required')">
                          Please enter payment procedure!
                        </mat-error>
                    </div>
                  </div>
                </form>
                <button class="btn btn-primary" (click)="Payment()">{{isLoading?'Processing':'Save'}}</button>
              </div>
              <div class="tab-pane fade show" id="rateInstruction" role="tabpanel" aria-labelledby="rateInstruction-tab">
                <form [formGroup]="rateInstruction">
                  <div class="form-row mt-3">
                    <div class="form-group col-md-12">
                      <ckeditor #editor formControlName="rateInstruction" type="divarea">
                      </ckeditor>
                      <mat-error *ngIf="rateInstruction.controls['rateInstruction'].hasError('required')">
                        Please enter Rate Instruction!
                      </mat-error>
                    </div>
                  </div>
                </form>
                <button class="btn btn-primary" (click)="RateInstruction()">{{isLoading?'Processing':'Save'}}</button>
              </div>
              <div class="tab-pane fade show" id="features" role="tabpanel" aria-labelledby="features-tab">
                <form [formGroup]="features">
                  <div class="form-row mt-3">
                    <div class="form-group col-md-12">
                      <ckeditor #editor formControlName="features" type="divarea">
                      </ckeditor>
                      <mat-error *ngIf="features.controls['features'].hasError('required')">
                        Please enter features
                      </mat-error>
                    </div>
                  </div>
                </form>

                <button class="btn btn-primary" (click)="Features()">{{isLoading?'Processing':'Save'}}</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade userclick" id="userclick" tabindex="-1" role="dialog" aria-labelledby="userclickTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <img src="assets/img/ngn.png" alt="">
      </div>
    </div>
  </div>
</div>
