::ng-deep .bank-dropdown {
    .ng-option {
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        padding: 8px 10px;
        border-bottom: 1px solid #E0E0E0;
    }
    .mat-form-field-infix {
        padding: 0px 0px !important;
    }
    .ng-placeholder {
        opacity: 1 !important;   
    }
    .ng-value-container {
        min-height: 31px !important;
    }
    .ng-value {
        &:after {
            display: block !important;
        }
    }
    .ng-arrow {
        border-color: #999999 transparent transparent;
    }
    .ng-select-opened > .ng-select-container .ng-arrow {
        border-color: transparent transparent #999999;
    }
    .mat-form-field-flex > .mat-form-field-infix {
        // padding: 0.8em 0px !important;
    }
    ng-dropdown-panel {
        width: 100% !important;
    }

    .bank-dropdown-label {
        display: flex;
        width: 100%;
        margin-left: 10px;
        justify-content: start;
        align-items: center;
        .bank-heading {
            font-size: 15px;
            font-weight: 500;
            margin-bottom: 0px;
            color: #0a1958;
            line-height: inherit;
        }
        .branch {
            font-size: 12px;
            line-height: inherit;
            margin-top: 4px;
        }
    }

    .bank-dropdown-option {
        display: flex;
        width: 100%;
        justify-content: start;
        align-items: center;
        .img {
            height: 25px;
            min-width: 25px;
            width: 25px;
            object-fit: cover;
            border-radius: 5px;
        }
        .bank-heading {
            font-size: 15px;
            margin-bottom: 0px;
            font-weight: 500;
            color: #0a1958;
            line-height: inherit;
        }
        .branch {
            font-size: 12px;
            line-height: inherit;
            margin-top: 4px;
        }
        .ifsc {
            line-height: inherit;
            font-size: 12px;
            margin-top: 4px;
            color: #616161;
        }
    }
}
ng-dropdown-panel {
    background: #fff;
    z-index: 10;
    
}
.matText{
    font-size: 87%;
    position: absolute;
    top: -6px;
    color :rgba(0, 0, 0, 0.6);
    left: 10px;
    background: #fff;
    z-index: 9;
    padding: 0px 5px;
}