<aside class="admin-sidebar">
    <div class="admin-sidebar-brand">
        <figure class="sidebar-logo"><img class="admin-brand-logo" src="assets/img/nav-logo.png" alt="atmos Logo">
        </figure>
        <!-- <h2>Coinwells</h2> -->
        <div class="ml-auto">
            <a href="#" class="admin-pin-sidebar btn-ghost btn btn-rounded-circle pinned"></a>
            <a href="#" class="admin-close-sidebar"></a>
        </div>
    </div>
    <div class="admin-sidebar-wrapper js-scrollbar">
        <ul class="menu">
            <li class="menu-item" *ngIf="commn_.checkPermission('dashboard','view')">
                <a routerLink="/dashboard" class="menu-link">
                    <span class="menu-label">
                        <span class="menu-name">Dashboard </span>
                    </span>
                    <span class="menu-icon">
                        <i class="icon-placeholder mdi mdi-shape-outline"></i>
                    </span>
                </a>
            </li>
            <li class="menu-item" *ngIf="commn_.checkPermission('users','view')">
                <a routerLink="/users" class="menu-link">
                    <span class="menu-label">
                        <span class="menu-name">Users List </span>
                    </span>
                    <span class="menu-icon">
                        <i class="icon-placeholder mdi mdi-account"></i>
                    </span>
                </a>
            </li>
            <li class="menu-item" *ngIf="commn_.checkPermission('walkthrough','view')">
                <a routerLink="/walkthrough" class="menu-link">
                    <span class="menu-label">
                        <span class="menu-name">Walkthrough</span>
                    </span>
                    <span class="menu-icon">
                        <i class="icon-placeholder mdi mdi-account-card-details"></i>
                    </span>
                </a>
            </li>
            <!-- <li class="menu-item">
                <a href="cryptocurrency.html" class="menu-link">
                    <span class="menu-label">
            <span class="menu-name">Crypto Currency </span>
                    </span>
                    <span class="menu-icon">
            <i class="icon-placeholder mdi mdi-account-card-details"></i>
          </span>
                </a>
            </li> -->
            <li class="menu-item" *ngIf="commn_.checkPermission('banks','view')">
                <a routerLink="/banknamelist" class="menu-link">
                    <span class="menu-label">
                        <span class="menu-name">Bank Name List </span>
                    </span>
                    <span class="menu-icon">
                        <i class="icon-placeholder mdi mdi-account-card-details"></i>
                    </span>
                </a>
            </li>
            <li class="menu-item" *ngIf="commn_.checkPermission('manage_update','view')">
                <a routerLink="/manage-update" class="menu-link">
                    <span class="menu-label">
                        <span class="menu-name">Manage Update </span>
                    </span>
                    <span class="menu-icon">
                        <i class="icon-placeholder mdi mdi-account-key"></i>
                    </span>
                </a>
            </li>
            <li class="menu-item" *ngIf="commn_.checkPermission('notification','view')">
                <a routerLink="/manage-notification" class="menu-link">
                    <span class="menu-label">
                        <span class="menu-name">Notifications </span>
                    </span>
                    <span class="menu-icon">
                        <i class="icon-placeholder mdi mdi-bell"></i>
                    </span>
                </a>
            </li>
            <li class="menu-item" *ngIf="commn_.checkPermission('customer_support','view')">
                <a routerLink="/manage-customer-support" class="menu-link">
                    <span class="menu-label">
                        <span class="menu-name">Customer Support </span>
                    </span>
                    <span class="menu-icon">
                        <i class="icon-placeholder mdi mdi-phone-in-talk"></i>
                    </span>
                </a>
            </li>
            <li class="menu-item" *ngIf="commn_.checkPermission('wallet_address','view')">
                <a routerLink="/wallet-address" class="menu-link">
                    <span class="menu-label">
                        <span class="menu-name">Wallet Address </span>
                    </span>
                    <span class="menu-icon">
                        <i class="icon-placeholder mdi mdi-phone-in-talk"></i>
                    </span>
                </a>
            </li>
            <li class="menu-item" *ngIf="commn_.checkPermission('request','view')">
                <a routerLink="/request" class="menu-link">
                    <span class="menu-label">
                        <span class="menu-name">Request
                            <span class="badge badge-danger" *ngIf="sum>0">{{ sum }}</span>
                        </span>
                    </span>
                    <span class="menu-icon">
                        <i class="icon-placeholder mdi mdi-phone-in-talk"></i>
                    </span>
                </a>
            </li>
            <li class="menu-item" *ngIf="commn_.checkPermission('analytics','view')">
                <a routerLink="/analytics" class="menu-link">
                    <span class="menu-label">
                        <span class="menu-name">Analytics </span>
                    </span>
                    <span class="menu-icon">
                        <i class="icon-placeholder mdi mdi-chart-areaspline"></i>
                    </span>
                </a>
            </li>
            <li class="menu-item" *ngIf="commn_.checkPermission('rate_change','view')">
                <a routerLink="/rate-change" class="menu-link">
                    <span class="menu-label">
                        <span class="menu-name">Rate Change </span>
                    </span>
                    <span class="menu-icon">
                        <i class="icon-placeholder mdi mdi-square-inc-cash"></i>
                    </span>
                </a>
            </li>
            <li class="menu-item" *ngIf="commn_.checkPermission('refer_and_earn','view')">
                <a routerLink="/refer-amount" class="menu-link">
                    <span class="menu-label">
                        <span class="menu-name">Refer & Earn </span>
                    </span>
                    <span class="menu-icon">
                        <i class="icon-placeholder mdi mdi-ticket"></i>
                    </span>
                </a>
            </li>

            <li class="menu-item" *ngIf="commn_.checkPermission('manage_sub_admin','view')">
                <a routerLink="/manage-admins" class="menu-link">
                    <span class="menu-label">
                        <span class="menu-name">Manage Sub Admins</span>
                    </span>
                    <span class="menu-icon">
                        <i class="icon-placeholder mdi mdi-ticket"></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</aside>