<div class="card">
	<div class="card-body">
		<form [formGroup]="AML">
			<div class="row mt-3">
				<div formArrayName="specification" class="col-12">
					<div class="row">
						<div class="col-12 text-right  mb-3">
							<div class="input_button input_button2">
								<button type="button" mat-button (click)="addNewSpecification()"
									class="btn btn-primary">
									Add More
								</button>
							</div>
						</div>

						<div class="col-6" *ngFor="let quantity of specification().controls; let i =index"
							[formGroupName]="i">
							<div class="m-2 p-3 border">
								<div class="custom-file form-group">
									<input type="file" (change)="onDocumentSelect($event,i)" accept=".png, .jpg, .jpeg"
										id="customFile" class="custom-file-input">
									<label for="customFile"
										class="custom-file-label">{{(quantity.get('image').value?"Image.jpg":"Choose
										Image")}}</label>
									<mat-error *ngIf="quantity.get('image').hasError('image')">
										Please enter Image!
									</mat-error>
								</div>
								<div class="form-group mt-2">
									<mat-form-field class="row col-12" appearance="outline">
										<mat-label> Title</mat-label>
										<input matInput type="text" formControlName="title" />
										<mat-error *ngIf="quantity.get('title').hasError('required')">
											Please enter title!
										</mat-error>
									</mat-form-field>
								</div>
								<div class="form-group">
									<mat-form-field class="row col-12" appearance="outline">
										<mat-label>Description</mat-label>
										<textarea row="5" matInput type="text" formControlName="heading"
											class="form-control">
										</textarea>
										<mat-error *ngIf="quantity.get('heading').hasError('required')">
											Please enter Description!
										</mat-error>
									</mat-form-field>
								</div>
								<button class="btn btn-primary" (click)="removeSpecification(i)">
									Remove
								</button>
							</div>
						</div>
					</div>
					<button class="btn btn-primary mt-3" (click)="AMLSubmit()">{{isLoading?"Loading":"Save"}}</button>
				</div>
			</div>
		</form>
	</div>
</div>