<main class="admin-main">
    <div class="auth_module" style="background-image: url('assets/img/auth.jpeg');">
        <!-- <figure>
            <img src="assets/img/auth.jpeg" alt="">
        </figure> -->
        <div class="mx-auto center_auth">
            <div class="p-b-20 text-center">
                <figure class="logo-auth"><img src="assets/img/nav-logo.png" alt="Logo"></figure>
                <!-- <h5 class="text-center coinwell mt-2">Coinwells</h5> -->
            </div>
            <!-- <form class="needs-validation"> -->
            <div class="form-row">
                <div class="form-group floating-label col-md-12">
                    <label>Email</label>
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group floating-label col-md-12">
                    <label>Password</label>
                    <input type="password" class="form-control " placeholder="Password">
                </div>
            </div>
            <a routerLink="/pages/dashboard"> <button class="btn btn-primary btn-block btn-lg">Login</button></a>
            <!-- </form> -->
            <p class="text-right p-t-10">
                <a routerLink="/auth/forgetpassword" class="text-underline">Forgot Password?</a>
            </p>
        </div>
    </div>
</main>