<!--site header ends -->
<section class="admin-content">
    <div class="bg-dark">
        <div class="container-fluid  m-b-30">
            <div class="row">
                <div class="col-12 text-white p-t-40 p-b-90">
                    <div class="ex-main">
                        <h4 class=""> <span class="btn btn-white-translucent">
                                <i class="mdi mdi-account"></i></span> Manage Sub Admins
                        </h4>
                        <div>
                            <a routerLink="add" class="btn btn-white-translucent mr-3">Add Sub Admin</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid pull-up">
        <div class="row">

            <div class="col-md-12">
                <div class="card m-b-30">
                    <div class="card-header seachbar">
                        <h5></h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive" id="users-list-page">
                            <ngx-datatable class="bootstrap" [scrollbarH]="true" [rows]="rows"
                                [columnMode]="ColumnMode.force" [limit]="10" [headerHeight]="50" [footerHeight]="50"
                                rowHeight="auto" [externalPaging]="true" [count]="page.totalElements"
                                [offset]="page.pageNumber" [limit]="page.size" (page)="setPage($event)">
                                <ngx-datatable-column [width]="80" name="#" prop="#">
                                    <ng-template let-rowIndex="rowIndex" data-index="#i" ngx-datatable-cell-template>
                                        {{(((page.pageNumber * page.size)) + rowIndex)+1}}
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column [width]="80" name="Image" prop="image">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <div class="avatar avatar-sm "
                                            (click)="userModal(this.baseUrl+row.image.media_file)">
                                            <img [src]="row.image?this.baseUrl+row.image.media_file:'assets/img/users/defaultuser.jpg'"
                                                class="avatar-img avatar-sm rounded-circle" alt="">
                                        </div>
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column [width]="100" name="Id" prop="id">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{ row?.id }}
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column [width]="200" name="Name" prop="name">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span matTooltipClass="example-tooltip-red" matTooltipPosition="above"
                                            [matTooltip]="row?.user_rejection[row?.user_rejection.length - 1]?.description">
                                            <img style="cursor: pointer;" *ngIf="row.flag"
                                                src="assets/icons/red-flag.png" alt=""></span>{{row?.first_name}}
                                        {{row?.last_name}}
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column [width]="220" name="Email" prop="email">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span>
                                            {{row?.email}} <a href="javascript:void(0)" (click)="emailModal(row)"> <i
                                                    class="mdi mdi-information ml-2"></i></a>
                                        </span>
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column name="PHONE NUMBER" prop="phone">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{row.phone_number}}
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column name="DOCUMENTS" prop="documents">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <ul class="action">
                                            <li>
                                                <a class="btn btn-primary" (click)="documentModal(row.id)">
                                                    <i class="mdi mdi-eye-settings" title="View"
                                                        style="color: #fff;"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="ACCOUNT NO.	" prop="account_number">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{row?.bank_details[0]?.account_number || '-'}}
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column name="BANK NAME" prop="bank_name">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{row?.bank_details[0]?.bank_name?.name || '-'}}
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column [width]="80" name="FV" prop="facial_verification">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <ul class="action">
                                            <li>
                                                <a class="btn btn-primary" (click)="fvModal(row.id)">
                                                    <i class="mdi mdi-eye-settings" title="View"
                                                        style="color: #fff;"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column [width]="80" name="FLAG" prop="flag">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <label class="switch">
                                            <input type="checkbox" [(ngModel)]="row.flag" (change)="changeFlag(row)">
                                            <span class="slider round"></span>
                                        </label>
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column name="ACTION" prop="status">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <ul class="action">
                                            <li><a href="javascript:void(0)" (click)="navigate(row?.id,2)"
                                                    class="btn btn-primary"><i class="mdi mdi-eye-settings"
                                                        title="View"></i></a>
                                            </li>
                                            <li><a (click)="navigate(row?.id,1)" href="javascript:void(0)"
                                                    class="btn btn-primary"><i class="mdi mdi-pen" title="Edit"></i></a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" (click)="deleteUser(row)"
                                                    class="btn btn-danger">
                                                    <i class="mdi mdi-delete" title="Delete"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </ng-template>
                                </ngx-datatable-column>
                            </ngx-datatable>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>