<section class="admin-content">
    <div class="bg-dark">
        <div class="container-fluid  m-b-30">
            <div class="col-12 text-white p-t-40 p-b-90">
                <div class="ex-main">
                    <h4 class=""> <span class="btn btn-white-translucent">
                            <i class="mdi mdi-bell"></i></span> Add Notification
                    </h4>
                    <a routerLink="/pages/manage-notification" class="btn btn-white-translucent">Back</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid  pull-up">
        <div class="row">
            <div class="col-lg-12">
                <div class="card m-b-30">
                    <form [formGroup]="notificationForm" >
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Select Type</label>
                                <select name="" id="" formControlName="notification_type" class="form-control">
                                    <option value="">Select</option>
                                    <option value="1">Payment</option>
                                    <option value="2">Transactions</option>
                                    <option value="3">Content</option>
                                    <option value="4">Activity</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Notification Mode</label>
                                <select name="" id="" formControlName="notification_mode" class="form-control">
                                    <option value="">Select</option>
                                    <option value="1">Email</option>
                                    <option value="2">Notification</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputAddress">Title</label>
                                <input type="text" formControlName="title" class="form-control" id="inputAddress" placeholder="">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="">Select User</label>
                                <mat-select name="" id="" class="form-control" formControlName="users"  multiple>
                                    <mat-option >All User</mat-option>
                                    <mat-option [value]="item.id" *ngFor="let item of notiItems">{{item.first_name}} {{item.last_name}}</mat-option>
                                </mat-select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputAddress2">Message</label>
                                <textarea id="" formControlName="message" name="" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" (click)="createNotification()">Add</button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</section>