<main class="admin-main  ">
    <div class="auth_module" style="background-image: url('assets/img/auth.jpeg');">
        <!-- <figure>
            <img src="assets/img/auth.jpeg" alt="">
        </figure> -->
        <div class="mx-auto center_auth">
            <div class="p-b-20 text-center">
                <figure class="logo-auth"><img src="assets/img/nav-logo.png" alt="Logo"></figure>
                <!-- <h2>Coinwells</h2> -->
            </div>
            <!-- <form class="needs-validation" action="#"> -->
            <div class="form-row">
                <div class="form-group floating-label col-md-12">
                    <label>Email</label>
                    <input type="email" required class="form-control" placeholder="Email">
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-lg">Submit</button>
            <!-- </form> -->
            <p class="text-right p-t-10">
                <a routerLink="/auth/login" class="text-underline">Back to Login</a>
            </p>
        </div>
    </div>
</main>