<section class="admin-content">
    <div class="bg-dark">
        <div class="container-fluid  m-b-30">
            <div class="col-12 text-white p-t-40 p-b-90">
                <div class="ex-main">
                    <h4 class=""> <span class="btn btn-white-translucent">
                            <i class="mdi mdi-account"></i></span> Add User
                    </h4>
                    <a routerLink="/users" class="btn btn-white-translucent">Back</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid  pull-up">
        <div class="row">
            <div class="col-lg-12">
                <div class="card m-b-30">
                    <div class="card-body ">
                        <div class="user-profile">
                            <figure>
                                <img src="assets/img/users/user-1.jpg">
                            </figure>
                            <div class="upload-avatar">
                                <input type="file" id="myfile" name="myfile">
                            </div>
                            <div class="hover_change">
                                <h5>+</h5>
                            </div>
                        </div>
                        <div class="form-row">
                            <!-- <div class="form-group col-md-6">
                                <label for="inputEmail4">ID</label>
                                <input type="email" class="form-control" id="inputEmail4" placeholder="">
                            </div> -->
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Name</label>
                                <input type="password" class="form-control" id="inputPassword4">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputAddress">Email</label>
                                <input type="text" class="form-control" id="inputAddress" placeholder="">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputAddress2">Phone Number</label>
                                <input type="text" class="form-control" id="" placeholder="">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputCity">Building No</label>
                                <input type="text" class="form-control" id="">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputZip">Street</label>
                                <input type="text" class="form-control" id="">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputZip">Zone</label>
                                <input type="text" class="form-control" id="">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputZip">Add Cash</label>
                                <input type="text" class="form-control" id="">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputZip">Add Coin</label>
                                <input type="text" class="form-control" id="">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputZip">Attachment</label>
                                <input type="file" class="form-control" id="" style="height: auto;">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputZip">Currency</label>
                                <select class="form-control" name="" id="">
                                    <option value="">Bitcoin</option>
                                    <option value="">Bitcoin</option>
                                    <option value="">Bitcoin</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputZip">Type of transaction</label>
                                <select class="form-control" name="" id="">
                                    <option value="">Sell</option>
                                    <option value="">Buy</option>
                                    <option value="">Withdraw</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>