<section class="admin-content">
  <div class="bg-dark">
    <div class="container-fluid  m-b-30">
      <div class="col-12 text-white p-t-40 p-b-90">
        <div class="ex-main">
          <h4 class=""> <span class="btn btn-white-translucent">
              <i class="mdi mdi-account"></i></span> Add User
          </h4>
          <a routerLink="/users" class="btn btn-white-translucent">Back</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid  pull-up">
    <div class="row">
      <div class="col-lg-12">
        <div class="card m-b-30">
          <div class="card-body ">
            <form [formGroup]="userForm">
              <div class="user-profile">
                <figure>
                  <img [src]="imageUrl?imageUrl:'assets/img/users/defaultuser.jpg'">
                </figure>
                <div class="upload-avatar">
                  <input type="file" id="myfile" name="myfile" accept="image/*" (change)="onImageSelect($event)">
                  <span class="overlay">+</span>
                </div>
              </div>
              <div class="form-row">
                <!-- <div class="form-group col-md-6">
                                <label for="inputEmail4">ID</label>
                                <input type="email" class="form-control" id="inputEmail4" placeholder="">
                            </div> -->
                <div class="form-group col-md-6">
                  <mat-form-field class="row col-12" appearance="outline">
                    <mat-label for="first_name">First Name</mat-label>
                    <input #space (keydown.space)="!space.value?$event.preventDefault():null" matInput type="text"
                      formControlName="first_name" id="first_name">
                    <mat-error
                      *ngIf="userForm.controls.first_name.touched && userForm.controls.first_name.hasError('required')">
                      First Name Required! </mat-error>
                    <mat-error
                      *ngIf="userForm.controls.first_name.touched && userForm.controls.first_name.hasError('pattern')">
                      First Name invalid! </mat-error>
                      <mat-error
                      *ngIf="userForm.controls.first_name.touched && userForm.controls.first_name.hasError('maxlength')">
                      Max Character 15! </mat-error>
                      <mat-error
                      *ngIf="userForm.controls.first_name.touched && userForm.controls.first_name.hasError('minlength')">
                      Min Character 3! </mat-error>
                  </mat-form-field>

                </div>
                <div class="form-group col-md-6">
                  <mat-form-field class="row col-12" appearance="outline">
                    <mat-label for="last_name">Last Name</mat-label>
                    <input matInput type="text" #spac (keydown.space)="!spac.value?$event.preventDefault():null"
                      formControlName="last_name" id="last_name">
                    <mat-error
                      *ngIf="userForm.controls.last_name.touched && userForm.controls.last_name.hasError('required')">
                      last Name Required! </mat-error>
                    <mat-error
                      *ngIf="userForm.controls.last_name.touched && userForm.controls.last_name.hasError('pattern')">
                      Last Name invalid! </mat-error>
                      <mat-error
                      *ngIf="userForm.controls.last_name.touched && userForm.controls.last_name.hasError('minlength')">
                      Min Character length 3! </mat-error>
                      <mat-error
                      *ngIf="userForm.controls.last_name.touched && userForm.controls.last_name.hasError('maxlength')">
                      Max Character length 15! </mat-error>
                  </mat-form-field>

                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <mat-form-field class="row col-12" appearance="outline">
                    <mat-label for="password">Password</mat-label>
                    <input matInput type="password" formControlName="password" id="password">
                    <mat-error
                      *ngIf="userForm.controls.password.touched && userForm.controls.password.hasError('required')">
                      Password Required! </mat-error>
                    <mat-error
                      *ngIf="userForm.controls.password.touched && userForm.controls.password.hasError('pattern')">
                      Password invalid! </mat-error>
                    <mat-error
                      *ngIf="userForm.controls.password.touched && userForm.controls.password.hasError('minlength')">
                      Password Min Length 8! </mat-error>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-6">
                  <mat-form-field class="row col-12" appearance="outline">
                    <mat-label for="email">Email</mat-label>
                    <input type="text" matInput id="email" formControlName="email" placeholder="">
                    <mat-error *ngIf="userForm.controls.email.touched && userForm.controls.email.hasError('required')">
                      Email Required! </mat-error>
                    <mat-error *ngIf="userForm.controls.email.touched && userForm.controls.email.hasError('email')">
                      Email invalid! </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <mat-form-field class="row col-12" appearance="outline">
                    <mat-label for="phone_number">Phone Number</mat-label>
                    <input type="text" matInput formControlName="phone_number" id="phone_number">
                    <mat-error
                      *ngIf="userForm.controls.phone_number.touched && userForm.controls.phone_number.hasError('required')">
                      Phone Number Required! </mat-error>
                    <mat-error
                      *ngIf="userForm.controls.phone_number.touched && userForm.controls.phone_number.hasError('pattern')">
                      Phone Number invalid! </mat-error>
                    <mat-error
                      *ngIf="userForm.controls.phone_number.touched && userForm.controls.phone_number.hasError('maxlength')">
                      Phone Number Max Length 15! </mat-error>
                    <mat-error
                      *ngIf="userForm.controls.phone_number.touched && userForm.controls.phone_number.hasError('minlength')">
                      Phone Number Min Length 3! </mat-error>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-6">
                  <mat-form-field class="row col-12" appearance="outline">
                    <mat-label for="building_no">Building No</mat-label>
                    <input type="text" matInput formControlName="building_no" id="building_no">
                    <mat-error
                      *ngIf="userForm.controls.building_no.touched && userForm.controls.building_no.hasError('required')">
                      Building No Required! </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <mat-form-field class="row col-12" appearance="outline">
                    <mat-label for="street">Street</mat-label>
                    <input type="text" #spa (keydown.space)="!spa.value?$event.preventDefault():null" matInput
                      formControlName="street" id="street">
                    <mat-error
                      *ngIf="userForm.controls.street.touched && userForm.controls.street.hasError('required')"> Street
                      Required! </mat-error>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-6">
                  <mat-form-field class="row col-12" appearance="outline">
                    <mat-label for="zone">Zone</mat-label>
                    <input type="text" matInput formControlName="zone" #sp
                      (keydown.space)="!sp.value?$event.preventDefault():null" id="zone">
                    <mat-error *ngIf="userForm.controls.zone.touched && userForm.controls.zone.hasError('required')">
                      Zone Required! </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <mat-form-field class="row col-12" appearance="outline">
                    <mat-label for="inputZip">Add Cash</mat-label>
                    <input type="text" matInput formControlName="cash" id="">
                    <mat-error *ngIf="userForm.controls.cash.touched && userForm.controls.cash.hasError('required')">
                      Cash Required! </mat-error>
                    <mat-error *ngIf="userForm.controls.cash.touched && userForm.controls.cash.hasError('pattern')">
                      Cash invalid! </mat-error>
                  </mat-form-field>
                </div>
                <!-- <div class="form-group col-md-6">
                                <label for="inputZip">Add Coin</label>
                                <input type="text" class="form-control" id="">
                            </div> -->
                <div class="form-group col-md-6">
                  <mat-label for="inputZip">Attachment</mat-label>
                  <input type="file" (change)="onDocumentSelect($event)" class="form-control" style="height: auto;">
                  <mat-error *ngIf="userForm.controls.document.touched && userForm.controls.document.hasError('required')">Document Required!</mat-error>
                </div>
              </div>
              <!-- <div class="form-group col-md-6">
                                <label for="inputZip">Currency</label>
                                <select class="form-control" name="" id="">
                                    <option value="">Bitcoin</option>
                                    <option value="">Bitcoin</option>
                                    <option value="">Bitcoin</option>
                                </select>
                            </div> -->
              <!-- <div class="form-group col-md-6">
                                <label for="inputZip">Type of transaction</label>
                                <select class="form-control" name="" id="">
                                    <option value="">Sell</option>
                                    <option value="">Buy</option>
                                    <option value="">Withdraw</option>
                                </select>
                            </div> -->
              <div class="form-group">
                <button class="btn btn-primary" (click)="addUser()">Add</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
