<!-- <form class="mx-auto center_auth" [formGroup]="OtpForm">
    <div class="text-center mb-5">
        <figure class="logo-auth"><img src="assets/img/nav-logo.png" alt="Logo"></figure>
    </div>
    <div class="form-group">
        <ng-otp-input  (onInputChange)="onOtpChange($event)"  [config]="{length:6}"></ng-otp-input>
    </div>
    <div class="text-center mt-5">
        <button type="button" class="btn btn-primary btn-lg btn-block" (click)="VerifyOtp()">{{
            (isLoading)?'Processing...':'Submit' }}</button>
    </div>
    <p class="text-right mt-4">
        <a routerLink="/auth/forgetpassword" class="text-underline">Back?</a>
    </p>
</form>

<div class="container">
   
  </div> -->

<form id="form" class="mx-auto center_auth p-5 pb-2" [formGroup]="OtpForm">
    <h1 class="text-center">TWO-FACTOR AUTHENTICATION</h1>
    <div class="form-group text-center">
        <label>Enter 6-digit code from your authenticator application</label>
        <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="{length:6}"></ng-otp-input>
    </div>
    <div class="form__buttons">
        <button type="button" class="btn btn-primary btn-lg btn-block" (click)="VerifyOtp()">{{
            (isLoading)?'Processing...':'Submit' }}</button>
    </div>
</form>