<!--site header ends -->
<section class="admin-content">
  <div class="bg-dark">
    <div class="container-fluid  m-b-30">
      <div class="col-12 text-white p-t-40 p-b-90">
        <div class="ex-main">
          <h4 class=""> <span class="btn btn-white-translucent">
              <i class="mdi mdi-lock"></i></span> Change Password
          </h4>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid  pull-up">
    <div class="row">
      <div class="col-lg-12">
        <form class="card m-b-30 height-mat" [formGroup]="setPasswordForm" (ngSubmit)="setupPassword()">
          <div class="card-body">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputPassword4">Old Password</label>
                <mat-form-field class="row col-12" appearance="outline">
                  <input [type]="'password'" formControlName="current_password" name="current_password" matInput
                    placeholder="Enter old password">
                  <mat-error *ngIf="setPasswordForm.get('current_password').hasError('required')">
                    Please enter old password.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group col-md-6">
                <label for="inputAddress">New Password </label>
                <mat-form-field class="row col-12" appearance="outline">
                  <input [type]="'password'" formControlName="new_password" name="new_password" matInput
                    placeholder="Enter new password">
                  <mat-error *ngIf="setPasswordForm.get('new_password').hasError('required')">Please
                    enter password.
                  </mat-error>

                  <mat-error
                    *ngIf="!setPasswordForm.get('new_password')?.hasError('removeSpaces') && setPasswordForm.get('new_password')?.hasError('minlength')">
                    Password must be at least 8 characters long.
                  </mat-error>
                  <mat-error
                    *ngIf="!setPasswordForm.get('new_password')?.hasError('removeSpaces') && setPasswordForm.get('new_password')?.hasError('maxlength')">
                    Password is too long (Max 16 characters allowed).
                  </mat-error>
                  <mat-error *ngIf="setPasswordForm.get('new_password')?.hasError('removeSpaces')">
                    Spaces not allowed.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group col-md-6">
                <label for="inputAddress2">Confirm Password</label>
                <mat-form-field class="row col-12" appearance="outline">
                  <input [type]="'password'" name="confirm_password" formControlName="confirm_password" matInput
                    placeholder="Confirm password">
                  <mat-error *ngIf="setPasswordForm.get('confirm_password').hasError('required')">
                    Please enter confirm
                    password.
                  </mat-error>

                  <mat-error *ngIf="setPasswordForm.get('confirm_password')?.hasError('mustMatch')">
                    Confirm password does not match with new password.
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit">{{ (isLoading)?'Processing...':'Change' }}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
