<section class="admin-content">
	<div class="bg-dark">
		<div class="container-fluid  m-b-30">
			<div class="row">
				<div class="col-12 text-white p-t-40 p-b-90">
					<div class="ex-main">
						<h4 class=""> <span class="btn btn-white-translucent">
							<i class="mdi mdi-wallet"></i></span> Request
						</h4>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid pull-up">
		<div class="row">

			<div class="col-md-12">
				<div class="card m-b-30">
					<div class="row">
						<div class="col-md-12">
							<div class="card-body top_nav_link">
								<tabset>
									<tab heading="Withdraw Request" id="tab1" (selectTab)="onSelect('2/5/')">
										<tabset>
											<tab (selectTab)="onSelect('2/5/')" heading="NGN">
												<app-request-table *ngIf="value == '2/5/'" [items]="items" [status]="'2/5/'"></app-request-table>
											</tab>
											<tab (selectTab)="onSelect('2/'+item.id+'/')" *ngFor="let item of items" [heading]="item.name">
												<app-request-table *ngIf="value == '2/'+item.id+'/'" [items]="items" [status]="'2/'+item.id+'/'"></app-request-table>
											</tab>
										</tabset>
									</tab>
									<tab heading="Deposit Request" (selectTab)="onSelect('1/5/')">
										<tabset>
											<tab (selectTab)="onSelect('1/5/')" heading="NGN">
												<app-request-table *ngIf="value == '1/5/'" [items]="items" [status]="'1/5/'"></app-request-table>
											</tab>
										</tabset>
									</tab>
									<tab heading="Selling Request" (selectTab)="onSelect('4/3/')">
										<tabset>
											<tab (selectTab)="onSelect('4/3/')" heading="TRC20 USDT">
												<app-request-table *ngIf="value == '4/3/'" [items]="items" [status]="'4/3/'"></app-request-table>
											</tab>
											<tab (selectTab)="onSelect('4/4/')" heading="Perfect Money">
												<app-request-table *ngIf="value == '4/4/'" [items]="items" [status]="'4/4/'"></app-request-table>
											</tab>
										</tabset>
									</tab>
									<tab heading="Buying Request" (selectTab)="onSelect('3/3/')">
										<tabset>
											<tab (selectTab)="onSelect('3/3/')" heading="TRC20 USDT">
												<app-request-table *ngIf="value  == '3/3/' " [items]="items" [status]="'3/3/'"></app-request-table>
											</tab>
											<tab (selectTab)="onSelect('3/4/')" heading="Perfect Money">
												<app-request-table *ngIf="value  == '3/4/' " [items]="items" [status]="'3/4/'"></app-request-table>
											</tab>
										</tabset>
									</tab>
								</tabset>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>