<section class="admin-content">
  <div class="bg-dark">
    <div class="container-fluid  m-b-30">
      <div class="row">
        <div class="col-12 text-white p-t-40 p-b-90">
          <div class="ex-main">
            <h4 class=""> <span class="btn btn-white-translucent">
                <i class="mdi mdi-wallet"></i></span> Request
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid pull-up">
    <div class="row">

      <div class="col-md-12">
        <div class="card m-b-30">
          <div class="row">
            <div class="col-md-12">
              <div class="card-body top_nav_link">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="home-tab-z" data-toggle="tab" href="#home" role="tab"
                      aria-controls="home" aria-selected="true">Withdrawl Request</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="profile-tab-z" data-toggle="tab" href="#profile" role="tab"
                      aria-controls="profile" aria-selected="false">Selling Request</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="perfectmoney-tab-z" data-toggle="tab" href="#perfectmoney" role="tab"
                      aria-controls="perfectmoney" aria-selected="false">Buying Request</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="ngnwallet-tab-z" data-toggle="tab" href="#ngnwallet" role="tab"
                      aria-controls="ngnwallet" aria-selected="false">Deposit Request</a>
                  </li>
                </ul>
                <div class="tab-content" id="myTabContent1">
                  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="card-body under_tab_link">
                      <tabset>
                        <tab *ngFor="let item of items" [heading]="item.name">
                            <app-request-table  [status]="'1/'+item.id+'/'"></app-request-table>
                        </tab>
                    </tabset>
                    </div>
                  </div>
                  <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="card-body under_tab_link">
                      <tabset>
                        <tab *ngFor="let item of items" [heading]="item.name">
                            <app-request-table  [status]="'2/'+item.id+'/'"></app-request-table>
                        </tab>
                    </tabset>
                    </div>
                  </div>
                  <div class="tab-pane fade show" id="perfectmoney" role="tabpanel" aria-labelledby="perfectmoney-tab">
                    <div class="card-body under_tab_link">
                      <tabset>
                        <tab *ngFor="let item of items" [heading]="item?.name">
                            <app-request-table  [status]="'3/'+item?.id+'/'"></app-request-table>
                        </tab>
                    </tabset>
                    </div>
                  </div>
                  <div class="tab-pane fade show" id="ngnwallet" role="tabpanel" aria-labelledby="ngnwallet-tab">
                    <div class="card-body under_tab_link">
                      <tabset>
                        <tab *ngFor="let item of items" [heading]="item?.name">
                            <app-request-table  [status]="'4/'+item?.id+'/'"></app-request-table>
                        </tab>
                    </tabset>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
