<!--site header ends -->
<section class="admin-content">
    <div class="container-fluid bg-dark m-b-30">
        <div class="row">
            <div class="col-12 text-white p-t-40 p-b-90">
                <div class="ex-main">
                    <h4 class="">
                        <span class="btn btn-white-translucent">
            <i class="mdi mdi-currency-eth"></i
          ></span> Wallet Address
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid pull-up">
        <div class="row">
            <div class="col-md-12">
                <div class="card m-b-30">
                    <div class="table-responsive">
                        <form [formGroup]="walletForm">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Asset</th>
                                    <th>Address</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody formArrayName="asset"
                            *ngFor="let item of getWallet()?.controls; let i = index;">
                                <tr [formGroupName]="i">
                                    <td>{{name[i]}}</td>
                                    <td>
                                        <input type="text" (keypress)= "NumOnly($event)" formControlName="address" class="form-control" />
                                    </td>
                                    <td>
                                        <ul class="action">
                                            <li>
                                                <a href="javascript:void(0)" (click)="updateForm(i)" class="btn btn-primary"> Update </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>