<main class="admin-main  ">
    <div class="auth_module" style="background-image: url('assets/img/auth.jpeg');">
        <form class="mx-auto center_auth" [formGroup]="newPassword" (ngSubmit)="forgotNow()">
            <div class="p-b-20 text-center">
                <figure class="logo-auth"><img src="assets/img/nav-logo.png" alt="Logo"></figure>
            </div>
            <div class="form-row mb-2">
                <mat-form-field class="col-md-12" appearance="outline">
                    <mat-label>New password</mat-label>
                    <input matInput placeholder="Enter new password" formControlName="password" type="password">
                    <mat-error
                        *ngIf=" newPassword.get('password').hasError('required')">
                        Please enter password.
                    </mat-error>
                    <mat-error
                        *ngIf="newPassword.get('password').hasError('minlength')">
                        Minlength should 8.
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="col-md-12" appearance="outline">
                    <mat-label>Confirm password</mat-label>
                    <input [type]="'password'" formControlName="Cnfpassword" name="password" matInput
                        placeholder="Password">
                        <mat-error *ngIf="newPassword.get('Cnfpassword').hasError('passwordMismatch')">
                        *Password don't match
                    </mat-error>
                </mat-form-field>
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-lg" [attr.disabled]="(isLoading)?true : null">{{
                (isLoading)?'Submitting...':'Submit' }}</button>
            <p class="text-right p-t-10">
                <a routerLink="/auth/login" class="text-underline">Back to Login</a>
            </p>
        </form>
    </div>
</main>