<div class="container-fluid pull-up">
    <div class="row">
      <div class="col-md-12">
        <div class="card m-b-30">
          <div class="card-header seachbar">
            <h5></h5>
            <div class="form-group col-md-4 pl-0 pr-0 mb-0">
              <input  class="form-control" id="inputEmail4" [(ngModel)]="searchText" (keyup)="changeText()" />
              <div class="search-ic">
                <i class="mdi mdi-magnify"></i>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
				<table class="table table-hover">
				  <thead>
					<tr>
					  <th>#</th>
					  <th>Send Type</th>
					  <th>User</th>
					  <th>Notification Mode</th>
					  <th>Title</th>
					  <th>Message</th>
					</tr>
				  </thead>
				  <tbody>
					<tr *ngFor="let item of items;let i=index">
					  <td>{{page==0?page+ i+1:page+i}}</td>
					  <td>{{item?.notification_type}}</td>
					  <td>{{item?.user}}</td>
					  <td>{{item?.notification_mode}}</td>
					  <td>{{item?.title}}</td>
					  <td>{{item?.message}}</td>
					</tr>
				  </tbody>
				</table>
			  </div>
			  <mat-paginator #paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
                  (page)="pageEvent = pageSizeChanged($event)">
                </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>