<div class="container-fluid pull-up">
    <div class="row">
      <div class="col-md-12">
        <div class="card m-b-30">
          <div class="card-header seachbar">
            <h5></h5>
            <div class="form-group col-md-4 pl-0 pr-0 mb-0">
              <input  class="form-control" id="inputEmail4" placeholder="Email" />
              <div class="search-ic">
                <i class="mdi mdi-magnify"></i>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
				<table class="table table-hover">
				  <thead>
					<tr>
					  <th>#</th>
					  <th>Send Type</th>
					  <th>User</th>
					  <th>Notification Mode</th>
					  <th>Title</th>
					  <th>Message</th>
					</tr>
				  </thead>
				  <tbody>
					<tr>
					  <td>1</td>
					  <td>Payments</td>
					  <td>All</td>
					  <td>Email</td>
					  <td>Lorem ipsum</td>
					  <td>In publishing and graphic design...</td>
					</tr>
				  </tbody>
				</table>
			  </div>
          </div>
        </div>
      </div>
    </div>
  </div>