<!--site header ends -->
<section class="admin-content">
    <div class="bg-dark">
        <div class="container-fluid  m-b-30">
            <div class="row">
                <div class="col-12 text-white p-t-40 p-b-90">
                    <div class="ex-main">
                        <h4 class=""> <span class="btn btn-white-translucent">
                                <i class="mdi mdi-account"></i></span> Manage Users
                        </h4>
                        <div>
                            <a routerLink="add" class="btn btn-white-translucent mr-3">Add User</a>
                            <a href="javascript:void(0)" class="btn btn-white-translucent" (click)="exportCsv()">Export CSV</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid pull-up">
        <div class="row">

            <div class="col-md-12">
                <div class="card m-b-30">
                    <div class="card-header seachbar">
                        <h5></h5>
                        <div class="form-group col-md-4 pl-0 pr-0 mb-0">
                            <input type="text" name="searchField" (keyup)="searchHere()" [(ngModel)]="searchData.value" class="form-control"
                                id="searchField" placeholder="Search by email, name">
                        </div>
                    </div>
                    <div class="card-body">
                        <tabset>
                            <tab (selectTab)="onSelect($event)" heading="Pending" id="tab1">
                                <user-list-table-content *ngIf="value == 'Pending'" [status]=null
                                    [searchData]="searchData"></user-list-table-content>
                            </tab>
                            <tab (selectTab)="onSelect($event)" heading="Approved">
                                <user-list-table-content *ngIf="value == 'Approved'" [status]="true"
                                    [searchData]="searchData"></user-list-table-content>
                            </tab>
                            <tab (selectTab)="onSelect($event)" heading="Rejected">
                                <user-list-table-content *ngIf="value == 'Rejected'" [status]="false"
                                    [searchData]="searchData"></user-list-table-content>
                            </tab>
                            <tab (selectTab)="onSelect($event)" heading="Flagged">
                                <user-list-table-content *ngIf="value == 'Flagged'" [flag]="true" [searchData]="searchData">
                                </user-list-table-content>
                            </tab>
                        </tabset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade userclick" id="userclick" tabindex="-1" role="dialog" aria-labelledby="userclickTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img src="assets/img/ngn.png" alt="">
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade viewdocument" id="viewdocument" tabindex="-1" role="dialog" aria-labelledby="viewdocumentTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Documents</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="images">
                    <figure class="mr-3 mb-3">
                        <img src="assets/img/doc.jpg" alt="">
                    </figure>
                    <figure class="mr-3 mb-3">
                        <img src="assets/img/doc.jpg" alt="">
                    </figure>
                    <figure class="mr-3 mb-3">
                        <img src="assets/img/doc.jpg" alt="">
                    </figure>
                    <figure class="mr-3 mb-3">
                        <img src="assets/img/doc.jpg" alt="">
                    </figure>
                    <figure class="mr-3 mb-3">
                        <img src="assets/img/doc.jpg" alt="">
                    </figure>
                    <figure class="mr-3 mb-3">
                        <img src="assets/img/doc.jpg" alt="">
                    </figure>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" data-toggle="modal"
                    data-target="#reasonmodal">Reject</button>
                <button type="button" class="btn btn-primary">Approve</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade reasonmodal" id="reasonmodal" tabindex="-1" role="dialog" aria-labelledby="reasonmodalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Reason</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="col-md-12">
                        <label for="">Reason</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Reject</button> -->
                <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<!-- <div class="modal fade rejectrequest" id="rejectrequest" tabindex="-1" role="dialog"
    aria-labelledby="rejectrequestTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Reject Reason</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row mt-3">
                    <div class="form-group col-md-12">
                        <label for="inputPassword4">Reason</label>
                        <input type="password" class="form-control" id="inputPassword4">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Send</button>
            </div>
        </div>
    </div>
</div> -->

<!-- Modal -->
<div class="modal fade facialverification" id="facialverification" tabindex="-1" role="dialog"
    aria-labelledby="facialverificationTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Facial Verification</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="images justify-content-center">
                    <figure class="d-flex justify-content-center">
                        <img src="assets/img/doc.jpg" alt="">
                    </figure>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" data-toggle="modal"
                    data-target="#reasonmodal">Reject</button>
                <button type="button" class="btn btn-primary">Approve</button>
            </div>
        </div>
    </div>
</div>