<form id="form" class="mx-auto center_auth p-5 pb-2" [formGroup]="otpForm">
    <span class="mdi mdi-close" (click)="closeIt()"></span>
    <h1 class="text-center">Verify Phone Number</h1>
    <div class="form-group text-center">
        <label>Enter 4-digit code sent on your registered mobile number.</label>
        <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="{length:4}"></ng-otp-input>
    </div>
    <div class="form__buttons">
        <button type="button" class="btn btn-primary btn-lg btn-block" (click)="verifyOtp()">{{
            (isLoading)?'Processing...':'Submit' }}</button>
    </div>
</form>