<section class="admin-content">
    <div class="bg-dark">
        <div class="container-fluid  m-b-30">
            <div class="col-12 text-white p-t-40 p-b-90">
                <div class="ex-main">
                    <h4 class=""> <span class="btn btn-white-translucent">
                            <i class="mdi mdi-account"></i></span> Add Bank
                    </h4>
                    <a routerLink="/banknamelist" class="btn btn-white-translucent">Back</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid  pull-up">
        <div class="row">
            <div class="col-lg-12">
                <div class="card m-b-30">
                    <div class="card-body ">
                        <div class="user-profile">
                            <figure>
                                <img [src]="imgurl?imgurl:'assets/img/users/defaultuser.jpg'">
                            </figure>
                            <div class="upload-avatar">
                                <input type="file" #myFIle id="myfile" name="myfile" (change)="uploadFile($event)" accept="image/x-png,image/gif,image/jpeg">
                            </div>
                            <div class="hover_change" (click)="myFIle.click()">
                                <h5>+</h5>
                            </div>
                        </div>
                        <form [formGroup]="AddBankForm">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <mat-form-field class="row col-12" appearance="outline">
                                 <mat-label for="inputEmail4">Bank Name</mat-label>
                                        <input type="text" name="first_name" matInput placeholder="Enter bank name" formControlName="name">
                                        <mat-error *ngIf="AddBankForm.get('name').hasError('required')">Please enter bank name.
                                        </mat-error>
                                        
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-md-6">
                                    <mat-form-field class="row col-12" appearance="outline">
                                    <mat-label for="inputPassword4">Bank Branch</mat-label>
                                        <input type="text" name="first_name" matInput placeholder="Enter branch" formControlName="branch">
                                        <mat-error *ngIf="AddBankForm.get('branch').hasError('required')">Please enter branch name.
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-md-6">
                                    <mat-form-field class="row col-12" appearance="outline">
                                    <mat-label for="inputAddress">IFSC Code</mat-label>
                                     <input type="text" name="first_name" matInput placeholder="Enter ifsc code" formControlName="ifsc_code">
                                        <mat-error *ngIf="AddBankForm.get('ifsc_code').hasError('required')">Please enter ifsc code.
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" (click)="AddBank()">{{ (isLoading)?'Processing...':'Save' }}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>