<header class="admin-header">
    <a href="#" class="sidebar-toggle" data-toggleclass="sidebar-open" data-target="body"> </a>
    <nav class=" ml-auto">
        <ul class="nav align-items-center">
            <li class="nav-item">
                <div class="dropdown">
                    <a href="#" class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="mdi mdi-24px mdi-bell-outline"></i>
                        <span class="notification-counter"></span>
                    </a>

                    <div class="dropdown-menu notification-container dropdown-menu-right">
                        <div class="d-flex p-all-15 bg-white justify-content-between border-bottom ">
                            <span class="h5 m-0">Notifications</span>
                        </div>
                        <div class="notification-events bg-gray-300">
                            <div class="text-overline m-b-5">today</div>
                            <a href="wallet.html" class="d-block m-b-10">
                                <div class="card">
                                    <div class="card-body">
                                        <img src="assets/img/bitcoin.png" alt="">
                                        <span class="ml-2">Payments</span>
                                    </div>
                                </div>
                            </a>
                            <a href="wallet.html" class="d-block m-b-10">
                                <div class="card">
                                    <div class="card-body">
                                        <img src="assets/img/bitcoin.png" alt="">
                                        <span class="ml-2">Transactions</span>
                                    </div>
                                </div>
                            </a>
                            <a href="wallet.html" class="d-block m-b-10">
                                <div class="card">
                                    <div class="card-body">
                                        <img src="assets/img/bitcoin.png" alt="">
                                        <span class="ml-2">Content</span>
                                    </div>
                                </div>
                            </a>
                            <a href="wallet.html" class="d-block m-b-10">
                                <div class="card">
                                    <div class="card-body">
                                        <img src="assets/img/bitcoin.png" alt="">
                                        <span class="ml-2">Activity</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="avatar avatar-sm avatar-online">
                        <span class="avatar-title rounded-circle bg-dark">V</span>
                    </div>
                </a>
                <div class="dropdown-menu  dropdown-menu-right">
                    <a class="dropdown-item" routerLink="/pages/myprofile">My Profile</a>
                    <a class="dropdown-item" routerLink="/pages/changepassword">Change Password</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="logoutMe()"> Logout</a>
                </div>
            </li>
        </ul>
    </nav>
</header>