<header class="admin-header">
    <a href="#" class="sidebar-toggle" data-toggleclass="sidebar-open" data-target="body"> </a>
    <nav class=" ml-auto">
        <ul class="nav align-items-center">
            <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="avatar avatar-sm avatar-online">
                        <img *ngIf="imgurl" class="avatar-title rounded-circle bg-dark" [src]="imgurl" alt="">
                        <img *ngIf="!imgurl" class="avatar-title rounded-circle bg-dark" [src]="'assets/img/logo.png'" alt="">
                    </div>
                </a>
                <div class="dropdown-menu  dropdown-menu-right">
                    <a class="dropdown-item" routerLink="/myprofile">My Profile</a>
                    <a class="dropdown-item" routerLink="/two-factor">Enable 2FA</a>
                    <a class="dropdown-item" routerLink="/changepassword">Change Password</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="logoutMe()"> Logout</a>
                </div>
            </li>
        </ul>
    </nav>
</header>