<section class="admin-content">
  <div class="bg-dark">
    <div class="container-fluid m-b-30">
      <div class="row">
        <div class="col-12 text-white p-t-40 p-b-90">
          <div class="ex-main">
            <h4 class="">
              <span class="btn btn-white-translucent">
                <i class="mdi mdi-bell"></i>
              </span>
              Manage Notification
            </h4>
            <a routerLink="/manage-notification/add-notification" class="btn btn-white-translucent">Add</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-notification-table></app-notification-table>
</section>
