<section class="admin-content">
    <div class="bg-dark">
        <div class="container-fluid m-b-30">
            <div class="col-12 text-white p-t-40 p-b-90">
                <div class="ex-main">
                    <h4 class="">
                        <span class="btn btn-white-translucent">
                            <i class="mdi mdi-account"></i></span> My Profile
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid pull-up">
        <div class="row">
            <div class="col-lg-12">
                <div class="card m-b-30 height-mat">
                    <div class="card-body">
                        <div class="user-profile">
                            <figure>
                                <img src="assets/img/users/user-1.jpg" />
                            </figure>
                            <div class="upload-avatar">
                                <input type="file" id="myfile" name="myfile" />
                            </div>
                            <div class="hover_change">
                                <h5>+</h5>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Name</label>
                                <mat-form-field class="row col-12" appearance="outline">
                                    <input [type]="'text'" name="name" matInput placeholder="Name">
                                    <!-- <mat-error *ngIf="loginForm.get('password').hasError('required')">Please enter password.
                                    </mat-error> -->
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <label for="inputAddress">Email</label>
                                <mat-form-field class="row col-12" appearance="outline">
                                    <input [type]="'text'" name="email" matInput placeholder="Email">
                                    <!-- <mat-error *ngIf="loginForm.get('password').hasError('required')">Please enter password.
                                    </mat-error> -->
                                </mat-form-field>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputAddress2">Phone Number</label>
                                <mat-form-field class="row col-12" appearance="outline">
                                    <ngx-mat-intl-tel-input 
                                        [enablePlaceholder]="true" [enableSearch]="true" name="full_phone"
                                        formControlName="full_phone" (countryChanged)="countryChanged($event)"
                                        inputPlaceholder="Phone number">
                                    </ngx-mat-intl-tel-input>
                                    <!-- <mat-error *ngIf="loginForm.get('password').hasError('required')">Please enter password.
                                    </mat-error> -->
                                </mat-form-field>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputCity">Address</label>
                                <mat-form-field class="row col-12" appearance="outline">
                                    <input [type]="'text'" name="address" matInput placeholder="Address">
                                    <!-- <mat-error *ngIf="loginForm.get('password').hasError('required')">Please enter password.
                                    </mat-error> -->
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>